@font-face {
  font-family: "Oldenburg";
  src: url("assets/Oldenburg-Regular.ttf");
}

:root {
  --color1: #1B1833;
  --color2: #441752;
  --color3: #AB4459;
  --color4: #F29F58;
}

body {
  background-color: var(--color1);
  color: var(--color4);
  font-family: "Oldenburg";
  padding: 10px;
}

@keyframes spawn-header-bar {
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#header-bar {
  background-color: var(--color2);
  box-shadow: 0px 0px 10px var(--color2);
  margin-top: 10px;
  border-radius: 50px;
  width: 400px;
  height: 30px;
  align-content: center;
  padding: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  overflow: hidden;
  opacity: 0;

  animation: spawn-header-bar 1s ease 0.2s forwards;
}

#header {
  width: 100%;
  display: flex;
  position: fixed;
  left: 0px;

  z-index: 100;
}

#page-title {
  margin-left: auto;
  display: flex;
  font-size: 20px;
}

.header-bar-icons {
  transition: scale 300ms ease;
  scale: 1;
  user-select: none;
  cursor: pointer;
}

.header-bar-icons:hover {
  scale: 1.1;
}

.page {
  margin-top: 110px;
}

#page-games-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.game-card {
  border: solid 4px #F29F58;
  border-radius: 40px;
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color1);
  box-shadow: 0px 0px 2px var(--color4);
  transition: box-shadow 300ms ease;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  scale: 0;
}

.game-card-true {
  animation: card-spawn 1s ease forwards;
  animation-delay: 800ms;

  cursor: pointer;
}

.game-card-true:hover {
  box-shadow: 0px 0px 10px var(--color4);
}

.game-card-true:hover .card-name {
  bottom: 0px;
}

.game-card-fake {
  animation: card-zoom-transition 1s ease 0s forwards;
  animation-delay: 0s !important;
}

.game-card-fake .game-img{
  animation: card-image-to-header 1s ease 0s forwards;
}

@keyframes card-zoom-transition {
  0% {
  }

  100%{
    left: -10px;
    top: 0px;       /*remove border width and offset*/
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-width: 0px;
  }
}

@keyframes card-image-to-header {
  0% {
  }
  100%{
    max-width: 100%;
    max-height: 200%;
  }
}

@keyframes game-card-dispawn {
  0% {
    scale: 1;
    opacity: 1;
  }

  30% {
    scale: 1.05;
    opacity: 1;
  }

  100% {
    scale: 0.8;
    opacity: 0;
  }
}

.game-card-dispawned {
  animation: game-card-dispawn 500ms ease 0s forwards !important;
}

.game-card-fake {
  animation: card-zoom-transition 1s ease 0s forwards;
  animation-delay: 0s !important;
  align-content: flex-start;
  z-index: 50;
  overflow-y: hidden;
}

.card-name {
  margin: 15px;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  background-color: var(--color3);
  color: white;
  padding: 15px;
  border-radius: 30px;
  width: 280px;
  text-align: center;
  box-shadow: 0px 0px 3px var(--color4);
  bottom: -80px;

  transition: bottom 500ms ease;
}

.game-img {
  width: 200%;
  height: auto;
  max-width: 200%;
  max-height: 100%; /*transition from width 100% to height 100%*/
  min-height: 300px;
  position: absolute;
  object-fit: contain;
}

/*.game-card-fake .game-img {
  mask-image: linear-gradient(to top, transparent, black 20%);
  backdrop-filter: ;
}*/

@keyframes card-spawn {
  0% {
    scale: 0.8;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

#game_page {
  /*background-color: var(--color1);*/
  z-index: 60;
  margin-top: 200px;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--color1) calc(100% - 50px), rgba(255, 255, 255, 0));
}

#add-game-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  align-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--color2);
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--color2);
  cursor: pointer;
  user-select: none;

  transition: scale 300ms ease;

  animation: spawn-add-game-button 1s ease 0s forwards;

  z-index: 80;
}

#add-game-button:hover {
  scale: 1.1;
}

@keyframes spawn-add-game-button {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }

  20% {
    transform: translateY(120px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes dispawn-add-game-button {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(120px);
    opacity: 0;
  }
}

.button {
  background-color: var(--color2);
  padding: 5px;
  border: solid var(--color3);
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 300ms ease;
  box-shadow: 0px 0px 0px var(--color3);
}

.button:hover {
  box-shadow: 0px 0px 10px var(--color3);
}

#page-add-game {
  display: flex;
}

#page-add-game-sub {
  margin-right: auto;
  margin-left: auto;
}

.add-game-buttons {
  display: flex;
  width: 250px;
  height: 20px;
  text-justify: center;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-loading {
  cursor: default;
  box-shadow: 0px 0px 10px var(--color4) !important;
}

@keyframes button-to-loading {
  0% {}
  20% {
    color: transparent;
    width: 250px;
    height: 20px;
    border-radius: 5px;
  }

  50% {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: transparent;
    border: dashed var(--color4);
    color: transparent;
  }

  100% {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: transparent;
    border: dashed var(--color4);
    color: transparent;
  }
}

@keyframes button-to-loading-reversed {
  100% {}
  80% {
    color: transparent;
    width: 250px;
    height: 20px;
    border-radius: 5px;
  }

  0% {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: transparent;
    border: dashed var(--color4);
    color: transparent;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#steam-scan-result-list {
  height: 195px;
  width: auto;
  border-radius: 8px;
  border: solid 3px var(--color3);
  overflow-y: auto;
  margin-top: 10px;
}

#add-game-info {
  margin: 5px;
  max-height: 0px;

  transition: max-height 500ms ease;
  overflow-y: hidden;
}

.add-game-found-list-element {
  background-color: var(--color2);
  margin: 4px;
  border: solid 2px ;
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
}

.add-game-found-list-element img {
  height: inherit;
  margin-left: auto;
}

.add-game-found-list-element input {
  background-color: var(--color1);
}

.checkbox input { /*Hide default*/
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

.checkbox-custom {
  height: 20px;
  width: 20px;
  background-color: var(--color2);
  display: block;
  border: solid 2px var(--color4);
  border-radius: 3px;
  transition: background-color 150ms ease, box-shadow 500ms ease;
  box-shadow: 0px 0px 0px var(--color4);
  color: transparent;
  user-select: none;
  text-align: center;
  text-justify: center;
  line-height: 20px;
}

.checkbox input:checked ~ .checkbox-custom {
  background-color: var(--color3);
  color: #F29F58;
}


.checkbox:hover input ~ .checkbox-custom {
  box-shadow: 0px 0px 4px var(--color4);
}

#base-game-found-list-element {
  display: none;
}
